
////////////////////////////////////////
//	Bootstrap edit
////////////////////////////////////////

// btn
.btn
	border-radius: 0
	border: none
	line-height: 1
	text-transform: uppercase
	margin: 30px 0
	font-family: 'Istok Web', sans-serif


.btn,
.btn-primary
	padding: 20px 40px 15px 40px
	background: none
	color: $black
	font:
		weight: bold
		size: 20px

	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;

	-webkit-box-shadow: inset 0px -5px 0px 0px $green;
	-moz-box-shadow: inset 0px -5px 0px 0px $green;
	-o-box-shadow: inset 0px -5px 0px 0px $green;
	box-shadow: inset 0px -5px 0px 0px $green;


	&.white
		color: white

	&:before
		background: $green

	&:hover,
	&:focus,
	&:active
	    background-color: transparent
	    border-color: transparent



.btn-danger
	@extend .btn

	-webkit-box-shadow: inset 0px -5px 0px 0px $red;
	-moz-box-shadow: inset 0px -5px 0px 0px $red;
	-o-box-shadow: inset 0px -5px 0px 0px $red;
	box-shadow: inset 0px -5px 0px 0px $red;
	
	&:before
		background: $red

.btn:focus, .btn.focus
	box-shadow: none
	



// form
.form-control
	padding: 15px 20px
	
button
	cursor: pointer
