
////////////////////////////////////////
//	Funzige quotjes 
////////////////////////////////////////

#quote-trigger
	position: absolute
	right: 20px
	bottom: 20px
	width: 50px
	height: 50px
	background: url("../img/logo/sparkle-black.png") no-repeat center
	opacity: 0.03
	text-align: center

#quote-backdrop	
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(black, 0.5)
	z-index: 200
	cursor: pointer

#quote-container
	@extend .container-fluid
	
	position: fixed
	top: 0
	right: -420px
	bottom: 0
	width: calc( 100% - 60px )
	max-width: 420px
	background: white
	z-index: 210
	overflow: auto

	.title	
		margin-left: 25px
		margin-top: 50px