
////////////////////////////////////////
//	Project
////////////////////////////////////////

body
	font-family: 'Raleway'
	position: relative

h2
	font:
		size: 40px
		weight: bold
	text-transform: uppercase

p
	font:
		size: 18px

